<?php
return array(
	'database' => array(
		'host' => '{SERVER}',
		'database' => '{NAME}',
		'driver' => 'Pdo_Mysql',
		'accounts' => array(
			'admin' => array(
				'username' => '{ADMIN}',
				'password' => '{ADMIN_PW}',
			),
			'read-only' => array(
				'username' => '{RO}',
				'password' => '{RO_PW}',
			),
		),
	),
	'controllers' => array(
        'invokables' => array(
            'Inventory\Controller\Computer' => 'Inventory\Controller\ComputerController',
            'Inventory\Controller\Monitor' => 'Inventory\Controller\MonitorController',
            'Inventory\Controller\Rma' => 'Inventory\Controller\RmaController',
            'Inventory\Controller\Model' => 'Inventory\Controller\ModelController',
            'Inventory\Controller\Cors' => 'Inventory\Controller\CorsController',
            'Inventory\Controller\Warranty' => 'Inventory\Controller\WarrantyController',
        ),
    ),
    'router' => array(
        'routes' => array(
            'computer' => array(
                'type'    => 'segment',
                'options' => array(
                    'route'    => '/computer[/:action][/:id]',
                    'constraints' => array(
                        'action' => '[a-zA-Z][a-zA-Z0-9_-]',
                        'id' => '[0-9]',
                    ),
                    'defaults' => array(
                        'controller' => 'Inventory\Controller\Computer',
                    ),
                ),
												),
            'monitor' => array(
                'type'    => 'segment',
                'options' => array(
                    'route'    => '/monitor[/:action][/:id]',
                    'constraints' => array(
                        'action' => '[a-zA-Z][a-zA-Z0-9_-]',
                        'id' => '[0-9]',
                    ),
                    'defaults' => array(
                        'controller' => 'Inventory\Controller\Monitor',
                    ),
                ),
            ),
            'rma' => array(
                'type'    => 'segment',
                'options' => array(
                    'route'    => '/rma[/:action][/:id]',
                    'constraints' => array(
                        'action' => '[a-zA-Z][a-zA-Z0-9_-]',
                        'id' => '[0-9]',
                    ),
                    'defaults' => array(
                        'controller' => 'Inventory\Controller\Rma',
                    ),
                ),
            ),
            'model' => array(
                'type'    => 'segment',
                'options' => array(
                    'route'    => '/model[/:action][/:id]',
                    'constraints' => array(
                        'action' => '[a-zA-Z][a-zA-Z0-9_-]',
                        'id' => '[0-9]',
                    ),
                    'defaults' => array(
                        'controller' => 'Inventory\Controller\Model',
                    ),
                ),
            ),
            'cors' => array(
                'type'    => 'segment',
                'options' => array(
                    'route'    => '/cors[/:action][/:id]',
                    'constraints' => array(
                        'action' => '[a-zA-Z][a-zA-Z0-9_-]',
                        'id' => '[0-9]',
                    ),
                    'defaults' => array(
                        'controller' => 'Inventory\Controller\Cors',
                    ),
                ),
            ),
            'warranty' => array(
                'type'    => 'segment',
                'options' => array(
                    'route'    => '/warranty[/:action][/:id]',
                    'constraints' => array(
                        'action' => '[a-zA-Z][a-zA-Z0-9_-]',
                        'id' => '[0-9]',
                    ),
                    'defaults' => array(
                        'controller' => 'Inventory\Controller\Warranty',
                    ),
                ),
            ),
        ),
    ),
    'view_manager' => array(
		'strategies' => array(
			'ViewJsonStrategy',
		),
        'template_path_stack' => array(
            'inventory' => __DIR__ . '/../view',
        ),
    ),
);
